<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/DKE-Data/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="Frank-Wiebeler" />
      <add key="ClearTextPassword" value="9d8d28010741589602404101d39c2257723c07aa" />
    </github>
  </packageSourceCredentials>
</configuration>